*.pyc
__pycache
.DS_Store
.env
.env.*

env.json

# Custom
/temp
results/
test-repo/
solution-repo/
student-repos/
temp/
logs/

/classroom_roster.csv
.idea/

aws

.aws-config/credentials
.aws-config/certs
.aws-sam
.doit.db.db
virtual_env